#main {
  font-size: 50px;
  margin: 50px;
}

input {
  font-size: 50px;
}

button {
  font-size: 50px;
  margin: 0px 20px 0px 0px;
}

.fields {
  margin: 50px 0px;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}